<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8" />
<title>Detail</title>
</head>
<body th:object="${book}">
	<div>
		<p>
			<strong>Book name: </strong><span th:text="*{name}">Cujo</span>
		</p>
		<p>
			<strong>Author: </strong><span th:text="*{author}">Stephen King</span>
		</p>
		<p>
			<strong>Description: </strong><span th:text="*{description}">Very good</span>
		</p>
		<p>
			<strong>Status: </strong><span th:text="*{status}">0</span>
		</p>
	</div>
</body>
</html>