<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8" />
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<title>Detail</title>
</head>
<body th:object="${book}">
	<div class="container"  style="max-width: 700px">
		<div class="well">
			<p>
				<strong>Book name: </strong><span th:text="*{name}">Cujo</span>
			</p>
			<p>
				<strong>Author: </strong><span th:text="*{author}">Stephen King</span>
			</p>
			<p>
				<strong>Description: </strong><span th:text="*{description}">Very good</span>
			</p>
			<p th:switch="*{status}">
				<strong>Status: </strong>
				<span th:case="0">Not Read</span>
				<span th:case="1">Reading</span>
				<span th:case="2">Finish</span>
			</p>
		</div>
		<div class="alert alert-success" th:unless="*{status == 0}">
			<strong>Good job.</strong>
		</div>
		<div class="alert alert-warning" th:if="*{status == 0}">
			<strong>Delay</strong>
		</div>
	</div>

	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="th:href=@{/js/bootstrap.min.js}"></script>
 </body>
</html>